@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
	--marigold: #ddd58f;
	--red: #ffffff;
}

body {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	padding: 1vmax;
	overflow-x: hidden;
	background: linear-gradient(25deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 1s ease infinite;
	height:40vh;
}


.angle {
	transform: rotate(-7deg);
/* 	max-width: calc(100vw - 15vmax); */
	max-height: 50vh;
	display: grid;
	grid-template-columns: 3fr 3fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}

.img__kandinsky {
	background: url(https://pbs.twimg.com/profile_images/1137996704521711620/X1ePDVCf_400x400.jpg) center no-repeat content-box;	
	background-blend-mode: multiply;
	margin: 0;
	padding: 0;
}

/*
responsive ideas to walk on/sleep on:
[1] media queries
indicate on markup level...
if something starts on col 2++, adjust for all xs -> m sizes
[2] fully fluid
better would be to figure out how to make this collapse without any media queries... hmm.
*/
.type__title {
	grid-column: 1 / 6;
	grid-row: 4 / 5;
	text-shadow: aqua;
	text-underline-offset: 1;
	text-transform: uppercase;
	font-size: 13vw;
	margin: 0;
}

@media (min-width: 100px) {
	.angle {
		transform: rotate(0deg);
	}

	.block__Story {
		text-shadow: white;
		grid-column: 1 / 6;
		grid-row: 7;
		font-size: 2vw;
		margin: 0;
	}

	.Story{
	text-align: justify;
	color:black;
	}
	
	.Thought{
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		color: wheat;
		font-size: 3vw;
		align-content: center;
		text-align: center;
	}

	.white__story{
	text-align: center;
	grid-column: 2;
	color: rgb(54, 45, 45);
	}
}

.type__subtitle {
	background: var(--red);
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 3vw;
	text-align: center;
	margin: 0;
}

.block__address {
	border-top: 1.5em solid var(--red);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.block__border {
	border-right: 2vw solid var(--red);
	min-height: 20vh;
	left: -1vw;
	position: relative;
}



.type__location {
	text-transform: uppercase;
	font-size: 2.5vw;
	line-height: 1;
	text-align: justify;
	margin: 5px 0 0 0;
}

.type__address {
	text-transform: uppercase;
	font-size: 1.75vw;
	margin: 0;
}

.type__eyebrow {
	color: var(--red);
	text-transform: uppercase;
	font-size: 2.5vw;
	text-align: right;
	margin: 0;
}

.type__birthday__year {
	color: var(--red);
	font-size: 3vw;
	margin: 0;
}

.type__birthday__word {
	color: var(--red);
	font-size: 1.75vw;
	text-transform: uppercase;
	margin: 15px 0;
}

.block__boxdeets {
	border: 5px solid black;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.block__boxdeets p {
	font-size: .75vw;
	padding: 3px;
	margin: 0;
}

.line__btm {
	border-bottom: 5px solid black;
}

.line__right {
	border-right: 5px solid black;
}

.span__row2 {
	grid-row: span 2;
}
.type__boxdeets {
	font-size: 1.25vw;
}

@media (min-width: 100px) {
	.angle {
		transform: rotate(0);
	}
	
	.img__kandinsky {
		max-width: 75%;
		transform: rotate(-7deg);
		grid-column: 2/6;
		grid-row: 1/3;
		min-height: 250px;
		width: 65%;
		}
	
	.block__address {
		grid-column: 1 / 6;
/* 		grid-column: 1; */
/* 		grid-row: 5; */
	}
	
	.block__birthday {
		grid-column: 1;
	}
	
	.block__boxdeets {
		grid-column: 1 / 5;
/* 		grid-row: 6; */
		margin-bottom: 1rem;
	}
	
	.type__eyebrow {
		grid-column: 1 / 6;
/* 		grid-row: 3 / 4; */
	}
	
	.block__border {
		display: none;
		grid-column: 1;
	}
	
	.type__subtitle {
		grid-column: 1 / 6;
		display: flex;
		align-items: center;
	}
	
}

@media (min-width: 300px) {
		.angle {
		transform: rotate(0);
	}
	
	.img__kandinsky {
		max-width: 75%;
		transform: rotate(-7deg);
		grid-column: 2 / 6;
/* 		grid-row: 1 / 3; */
/* 		min-height: 250px; */
/* 		width: 65%; */
		}
	
	.block__address {
		grid-column: 1 / 6;
/* 		grid-column: 1; */
/* 		grid-row: 5; */
	}
	
	.block__birthday {
		grid-column: 1;
	}
	
	.block__boxdeets {
		grid-column: 1 / 5;
/* 		grid-row: 6; */
		margin-bottom: 1rem;
	}
	
	.type__eyebrow {
		grid-column: 1 / 6;
/* 		grid-row: 3 / 4; */
	}
	
	.block__border {
		display: none;
/* 		grid-column: 1; */
/* 		grid-row: 5 / 6; */
	}
	
	.type__subtitle {
		grid-column: 1 / 5;
		display: flex;
		align-items: center;
	}

	body {
		font-family: Montserrat, Helvetica, Arial, sans-serif;
		padding: 1vmax;
		background: linear-gradient(-25deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		animation: gradient 10s ease infinite;
		height:280vh;
	}
	
}

@media (min-width: 400px) {
		.angle {
		transform: rotate(-7deg);
	}
	.img__kandinsky {
		transform: rotate(0deg);
		grid-column: 2 / 6;
		grid-row: 1 / 4;
		min-height: 300px;
		}
	
	.block__address {
		grid-column: 1;
		grid-row: 5 / 6;
	}
	
	.block__birthday {
		grid-column: 1;
	}
	
	.block__boxdeets {
		grid-column: 2 / 5;
	}
	
	.type__eyebrow {
		grid-column: 4 / 6;
		grid-row: 3 / 4;
	}
	
	.block__border {
		display: initial;
		grid-column: 6;
		grid-row: 2 / 3;
	}
	
	.type__subtitle {
		grid-column: 2 / 5;
		grid-row: 5 / 6;
		display: flex;
		align-items: center;
	}

	body {
		font-family: Montserrat, Helvetica, Arial, sans-serif;
		padding: 1vmax;
		background: linear-gradient(-25deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		animation: gradient 10s ease infinite;
		height:280vh;
	}
}

@media (min-width: 800px) {
	.img__kandinsky {
	grid-column: 1/3;
	grid-row: 1 / 3;
		}
	
	.block__birthday {
		grid-row: 6 / 7;
		grid-column: 2;
	}
	
	.type__eyebrow {
		grid-column: 2 / 6;
	}
	
	.block__address {
		grid-column: 4 / 6;
		grid-row: 1 / 3;
	}
	
	.block__boxdeets {
		grid-row: 6;
		grid-column: 3 / 6;
	}
	
	.type__boxdeets__big {
	font-size: 1vw;
	}

	body {		
		font-family: Montserrat, Helvetica, Arial, sans-serif;
		padding: 5vmax;
		margin: 5px;
		background: linear-gradient(25deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		animation: gradient 10s ease infinite;
		height:280vh;
	}
}

@media (min-width: 1000px) {
	body {		
		font-family: Montserrat, Helvetica, Arial, sans-serif;
		padding: 5vmax;
		margin: 1px;
		background: linear-gradient(25deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		animation: gradient 10s ease infinite;
		height:220vh;
		width: 170vh;
	}
}

.normal{
	transform: rotate(+14deg);
	grid-row: 9;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 13vw;
	text-align: center;
	line-height: .75;
	margin: 10px 0;
}
